.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-heading{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    background-color: #428bca;
    border-color: white;
}


.panel-body {
    padding: 15px;
    border: 1px solid white;
    color: black;
}
.come-in {
    -webkit-transform: translateY(150px);
        -ms-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-animation: come-in 0.8s ease forwards;
            animation: come-in 0.8s ease forwards;
  }
  
  .come-in:nth-child(odd) {
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
  }
  
  .already-visible {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: none;
            animation: none;
  }
  
  @-webkit-keyframes come-in {
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes come-in {
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }